body{
    background-color: #0f172a;
    color: white;
    font-family: "Lato";
    padding: 10%;
}
*::selection{background-color: #1e293b;}

.bottom-button{
    border: 1px solid transparent;
    border-radius: 23px;
    cursor: pointer;
    position: fixed;
    bottom: 3%;
    width: 30px;
    height: 30px;
    transition: .3s;
}
.bottom-button:hover{
    transform: scale(1.2);
    transition: .3s;
}

#progress-bar{
    padding: 4px;
    background-color: #2563eb;
    position: fixed;
    left: 11%;
    bottom: 11%;

    border: 1px solid transparent;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
    visibility: visible;
    opacity: 1;
}
#progress-bar.hidden{
    left: -11%;
    opacity: 0;
    visibility: hidden;
}

#time-left{
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    left: 11%;
    bottom: 5%;
    opacity: 1;
    visibility: visible;
    transition: .4s;
}
#time-left.hidden{
    left: -12%;
    opacity: 0;
    visibility: hidden;
}

/* H */
h0{
    font-size: 300%;
    font-weight: bold;
}

/* QUIZ */
div.row{
    display: flex;
    flex-direction: row;
}

div.row button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1e1b4b;
    color: white;
    border: 2px solid #312e81;
    border-radius: 6px;
    margin: 7px;
    cursor: pointer;
    font-family: inherit;
    font-size: x-large;
}
div.row button:hover,
div.row button:focus{
    border-color: #7e22ce;
}

div.row button:hover > img{
    transform: scale(1.1);
    transition: .3s;
}

div.row button img{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 25px;
    margin-right: 12px;
    transition: .3s;
}

div.row button.incorrect{
    border-color: red !important;
}
div.row button.correct{
    border-color: limegreen !important;
}

p{font-size: x-large;}

#q-description{color: #6b7280;}

.page.hidden{
    display: none;
}